.news .news-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: capitalize;
}
.news .news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 24px 0;
  list-style: none;
  gap: 32px;
}
.news .news-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  width: 320px;
  height: 350px;
  background: #666;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.news .news-item:visited h3 {
  color: #b5b8e6;
}
.news .news-item img {
  width: 100%;
  height: 180px;
  min-height: 180px;
  border-radius: 4px 4px 0 0;
}
.news .news-item .news-item__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.news .news-item .news-item__details h3 {
  font-size: 18px;
  margin: 16px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .news-item .news-item__details p {
  margin: 0 auto 16px;
  display: flex;
  align-items: flex-end;
}
.news .news-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #444444;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.header .header-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.header .header-actions .header-actions__links {
  display: flex;
  height: 100%;
  gap: 24px;
  margin: 0 16px;
  padding: 0;
}
.header .header-actions .header-actions__links .header-actions__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  height: 58px;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
.header .header-actions .header-actions__links .header-actions__link.header-actions__link--active {
  border-bottom: 2px solid #fff;
}
.header .header-actions .header-actions__input {
  height: 30px;
  font-size: 18px;
  background: #666;
  outline: none;
  border: 1px solid #242424;
  border-radius: 4px;
  color: #fff;
  padding: 0 8px;
}
.header .header-actions .header-actions__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.header .header-actions .header-actions__input::placeholder {
  color: #e6e5e5;
}
@media (max-width: 1200px) {
  .header .header-actions {
    justify-content: flex-start;
    overflow: auto hidden;
  }
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background: #444444;
  height: 60px;
  padding: 16px 0;
}
.footer .footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  box-sizing: border-box;
}
.footer .footer__content p {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to right, #333333, #222222);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  text-align: center;
  overflow-y: scroll;
}
.wrapper {
  padding-top: 60px;
  min-height: calc(100vh - 120px);
  max-width: 2400px;
  margin: auto;
}
