.footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 0;
  font-size: 18px;
  color: #fff;
}
